In [1]:
#conda install -c conda-forge tweepy
#or
#pip install tweepy

snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping a specific Twitter user‚Äôs tweets

Let's use this handle: @KimKardashian

Using the code, we can scrape 100 tweets from Twitter user @KimKardashian.
We then pulled the DateTime, tweet id, text, and username attributes from the tweet objects.

In [3]:
# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
handle = 'pink'

# declare a username 
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('from:' + handle).get_items()): 
    if i > 10: #number of tweets you want to scrape
        break
        
    #declare the attributes to be returned
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

C:\Users\hannah.kim\AppData\Local\Temp\ipykernel_21584\2363129040.py:13: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [4]:
tweets_df1

,Datetime,Tweet Id,Text,Username
0,2023-01-31 01:31:40+00:00,1620233319979040768,Go where love is on our side and get your #TRU...,Pink
1,2023-01-30 03:11:06+00:00,1619895953804394496,Thanks y‚Äôall!!!,Pink
2,2023-01-30 03:10:27+00:00,1619895790457221120,EAGLES!!!!!!!!!!!!! PHILLY!!!!!!!!!!!!!!! Last...,Pink
3,2023-01-29 21:39:27+00:00,1619812492829667329,I guess worldwide that‚Äôs a lot of people DumDu...,Pink
4,2023-01-28 01:28:11+00:00,1619145279944654850,üíïüôèüèª @Spotify https://t.co/RzlncG163C https://...,Pink
5,2023-01-28 01:26:10+00:00,1619144771892813824,üòçüëèüèª @TIDAL \nhttps://t.co/iqprrbsHYN https://t...,Pink
6,2023-01-28 01:25:16+00:00,1619144543185833984,üíúüíú @pandoramusic https://t.co/g4qz5wD5uN https...,Pink
7,2023-01-27 23:29:51+00:00,1619115498087792640,üíû @amazonmusic https://t.co/Etj6balxl4 https:/...,Pink
8,2023-01-27 23:28:23+00:00,1619115128666071040,üíïüôèüèª @Spotify https://t.co/0UOBMCou6S https://t...,Pink
9,2023-01-27 23:26:14+00:00,1619114589966458880,üôåüèªü•∞ @AppleMusic https://t.co/TTaPLlzN8p https:...,Pink
10,2023-01-27 14:25:43+00:00,1618978563390312450,AND I feel very lucky to have collaborated aga...,Pink

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [5]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'music'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2022-01-01 until:2023-01-31').get_items()):
    if i > 5000:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

C:\Users\hannah.kim\AppData\Local\Temp\ipykernel_21584\3875112818.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [15]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2023-01-30 23:59:59+00:00,1620210245200125953,@ubertrance I HAVE IT ON WISHLIST!\nI'm hyped ...,wastelandroar
1,2023-01-30 23:59:58+00:00,1620210243136520192,@Fluteyberry Your words are music to my ears. ...,ROSELH
2,2023-01-30 23:59:57+00:00,1620210240020156417,#BTS @BTS_twt @bts_bighit @BIGHIT_MUSIC \n\nMi...,gailleep
3,2023-01-30 23:59:57+00:00,1620210237159636993,@xanaofficial_ When are we not ready for new m...,Alli51016273
4,2023-01-30 23:59:56+00:00,1620210236077522946,ÊúÄÈ´ò„Å™Êúù„Å´„Å™„Å£„Åüüåûüíú\n\nBurna Boy - Common Person [Offic...,charikogisuke
...,...,...,...,...
4996,2023-01-30 23:20:50+00:00,1620200395388882946,"Tonight at Turf Club: Doors at 7:00pm, @pieta_...",TurfClubMN
4997,2023-01-30 23:20:48+00:00,1620200385402277888,im still working on music but im still burnt o...,NBI_DJ_Yig
4998,2023-01-30 23:20:47+00:00,1620200383514656770,@ChassiMusic @NAZAARMUSIC @ratedr @IamKozmoz @...,stryermusic
4999,2023-01-30 23:20:47+00:00,1620200383053438977,apple music replay is back let‚Äôs goooo https:/...,ssunshinesoobin
5000,2023-01-30 23:20:47+00:00,1620200381077929984,"with music, my dream become true! ##bot",Yui_Goidou

In [16]:
tweets_df2.to_csv('pink_tweets.csv', index=False, encoding='utf-8')

In [17]:
testdf = pd.read_csv('pink_tweets.csv')

In [18]:
testdf

,Datetime,Tweet Id,Text,Username
0,2023-01-30 23:59:59+00:00,1620210245200125953,@ubertrance I HAVE IT ON WISHLIST!\nI'm hyped ...,wastelandroar
1,2023-01-30 23:59:58+00:00,1620210243136520192,@Fluteyberry Your words are music to my ears. ...,ROSELH
2,2023-01-30 23:59:57+00:00,1620210240020156417,#BTS @BTS_twt @bts_bighit @BIGHIT_MUSIC \n\nMi...,gailleep
3,2023-01-30 23:59:57+00:00,1620210237159636993,@xanaofficial_ When are we not ready for new m...,Alli51016273
4,2023-01-30 23:59:56+00:00,1620210236077522946,ÊúÄÈ´ò„Å™Êúù„Å´„Å™„Å£„Åüüåûüíú\n\nBurna Boy - Common Person [Offic...,charikogisuke
...,...,...,...,...
4996,2023-01-30 23:20:50+00:00,1620200395388882946,"Tonight at Turf Club: Doors at 7:00pm, @pieta_...",TurfClubMN
4997,2023-01-30 23:20:48+00:00,1620200385402277888,im still working on music but im still burnt o...,NBI_DJ_Yig
4998,2023-01-30 23:20:47+00:00,1620200383514656770,@ChassiMusic @NAZAARMUSIC @ratedr @IamKozmoz @...,stryermusic
4999,2023-01-30 23:20:47+00:00,1620200383053438977,apple music replay is back let‚Äôs goooo https:/...,ssunshinesoobin
5000,2023-01-30 23:20:47+00:00,1620200381077929984,"with music, my dream become true! ##bot",Yui_Goidou