In [7]:
#conda install -c conda-forge tweepy
#or
#pip install tweepy

snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [13]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping a specific Twitter user‚Äôs tweets

Let's use this handle: @KimKardashian

Using the code, we can scrape 100 tweets from Twitter user @KimKardashian.
We then pulled the DateTime, tweet id, text, and username attributes from the tweet objects.

In [16]:
# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
handle = 'pink'

# declare a username 
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('from:' + handle).get_items()): 
    if i > 10: #number of tweets you want to scrape
        break
        
    #declare the attributes to be returned
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

C:\Users\hannah.kim\AppData\Local\Temp\ipykernel_31220\2363129040.py:13: FutureWarning: content is deprecated, use rawContent instead
  tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [17]:
tweets_df1

,Datetime,Tweet Id,Text,Username
0,2023-01-30 03:11:06+00:00,1619895953804394496,Thanks y‚Äôall!!!,Pink
1,2023-01-30 03:10:27+00:00,1619895790457221120,EAGLES!!!!!!!!!!!!! PHILLY!!!!!!!!!!!!!!! Last...,Pink
2,2023-01-29 21:39:27+00:00,1619812492829667329,I guess worldwide that‚Äôs a lot of people DumDu...,Pink
3,2023-01-28 01:28:11+00:00,1619145279944654850,üíïüôèüèª @Spotify https://t.co/RzlncG163C https://...,Pink
4,2023-01-28 01:26:10+00:00,1619144771892813824,üòçüëèüèª @TIDAL \nhttps://t.co/iqprrbsHYN https://t...,Pink
5,2023-01-28 01:25:16+00:00,1619144543185833984,üíúüíú @pandoramusic https://t.co/g4qz5wD5uN https...,Pink
6,2023-01-27 23:29:51+00:00,1619115498087792640,üíû @amazonmusic https://t.co/Etj6balxl4 https:/...,Pink
7,2023-01-27 23:28:23+00:00,1619115128666071040,üíïüôèüèª @Spotify https://t.co/0UOBMCou6S https://t...,Pink
8,2023-01-27 23:26:14+00:00,1619114589966458880,üôåüèªü•∞ @AppleMusic https://t.co/TTaPLlzN8p https:...,Pink
9,2023-01-27 14:25:43+00:00,1618978563390312450,AND I feel very lucky to have collaborated aga...,Pink
10,2023-01-27 14:25:42+00:00,1618978558453624832,#TRUSTFALL official video out now!!! I am in L...,Pink

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [25]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'music'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2022-01-01 until:2023-01-31').get_items()):
    if i > 5000:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

C:\Users\hannah.kim\AppData\Local\Temp\ipykernel_31220\3875112818.py:12: FutureWarning: content is deprecated, use rawContent instead
  tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [26]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2023-01-30 16:33:25+00:00,1620097865648574465,@jijify This is what happens when people are o...,i_b_i_l
1,2023-01-30 16:33:25+00:00,1620097863001972737,@casimirradio @kinetic7radio @mrdparsons @danh...,cowlsband
2,2023-01-30 16:33:24+00:00,1620097862125117442,@WhatsUpJua @super_miles They have been gettin...,Skii93855283
3,2023-01-30 16:33:24+00:00,1620097859113607168,Thanks Sean Beeson | Music &amp; Sound for the...,shawnrichison
4,2023-01-30 16:33:23+00:00,1620097856232386560,Amazon Music„ÅßË¶ã„Å§„Åë„ÅüKing Ghidorah feat. BOYÔºçKEN„ÅÆÂÖ¨...,ootpr_
...,...,...,...,...
4996,2023-01-30 16:01:16+00:00,1620089775385636864,Remember when artists had to come out with hel...,_sunnysmiles_
4997,2023-01-30 16:01:16+00:00,1620089775373049857,whats nice again it's just you listen to some ...,yonskerswriter
4998,2023-01-30 16:01:16+00:00,1620089775322705920,KinKi Kids„ÄåSecret Code„ÄçMusic Video https://t.c...,ily8_yo51na
4999,2023-01-30 16:01:16+00:00,1620089774852931584,"„Äê2023 CIRCLE CHART MUSIC AWARDS „ÉÅ„Ç±„ÉÉ„Éà„Äë\n\nÔºëÈöé70,...",pmnk00
5000,2023-01-30 16:01:16+00:00,1620089774836183040,Everybody is always mad about porn but chaturb...,DailyDps

In [29]:
tweets_df2.to_csv('pink_tweets.csv')